<!DOCTYPE html>
<html>

<head>
    <title></title>

</head>

<body>
    <%- include layout %>
    <div class="container">
        <h2>
            Welcome to my blog
        </h2>
        <a href="/blog/add">เพิ่มบทความ</a>

    </div>

</body>

</html>